.sidebar-component {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.vertical-line {
    height: 100%;
    width: 2px;
    background-color: white;
    margin-right: 15px;
}

.erc {
    font-size: 6rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 30%);
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    letter-spacing: -0.75rem;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.letter-e {
    padding-bottom: 10rem;
    /* transform: rotate(30deg); */
}

/* .letter-r {
    transform: rotate(-10deg);
} */

.letter-c {
    padding-top: 10rem;
    /* transform: rotate(15deg); */
}

@media (max-width: 950px) {
    .erc {
        font-size: 4.5rem;
    }

    .letter-e {
        padding-bottom: 7rem;
    }
    
    .letter-c {
        padding-top: 7rem;
    }
}