
.ll-extra-mnemonics-tbl-loading-true {
    opacity: 0.3;
}

.ll-extra-mnemonics-tbl-loading-true {
    display: none;
}

.ll-loading-spinner-false {
    display: none!important;
}

.ll-extra-mnemonics-word-info {
    margin-bottom: 1rem;
}