

.image-generation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    margin-right: 4rem;
}

.ll-img-gen-title {
    margin-bottom: 1rem;
}

.ll-img-container {
    /* margin-top: 1rem; */
    width: 16rem;
    height: 16rem;
    position: relative;
    /* background-color: lightgray; */
    background-color: rgba(169, 217, 131, 0.1)!important;
    border: 1px solid var(--green4);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ll-img-msg {
    position: absolute;
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
    z-index: 0;
    font-weight: bold;
}

.ll-get-img-btn {
    margin-bottom: 0.5rem;
}

.ll-img-is-loading-true {
    opacity: 0.3;
}

.ll-img-spinner-loading-false {
    display: none!important;
}

.ll-img-spinner-loading-true {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.get-img-btn {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.ll-images-left {
    font-size: 0.9rem;
    /* margin-bottom: 1.5rem; */
}

.ll-img-btn-out-true {
    opacity: 50%;
    cursor: not-allowed!important;
}

.ll-image-italic-msg {
    opacity: 0.5;
    font-style: italic;
}
