
* {
    --green1: rgb(169, 217, 131);
    --green2: rgb(113, 191, 127);
    --green3: rgb(87, 166, 120);
    --green4: rgb(54, 140, 118);
    --green5: rgb(36, 84, 89);
}

.ll-bold {
    font-weight: bold;
    color: var(--green5);
}

.ll-modal-header-logo {
    width: 5.2rem;
    height: 5.2rem;
}

.ll-modal-header-container {
    height: 3rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.ll-info-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0!important;
    /* margin-top: 1rem; */
}

.ll-info-modal-btn {
    background-color: var(--green5)!important;
}

.ll-info-modal-title {
    color: var(--green5)!important;
}

.ll-info-modal-continue-btn {
    background-color: var(--green5)!important;
    border: none!important;
}

.ll-info-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.ll-info-modal-scenario {
    font-style: italic;
    width: 80%;
    font-size: 0.9rem;
    text-align: center;
    /* text-indent: 0; */
}

.rana-example {
    display: flex;
    column-gap: 0.5rem;
    width: 100%;
    height: 7rem;
    justify-content: center;
    align-items: center;
}

.rana-example > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    font-weight: bold;
    /* background-color: red; */
}

.ll-frog-photo {
    width: 100%;
    height: 100%;
}