
* {
    --green1: rgb(169, 217, 131);
    --green2: rgb(113, 191, 127);
    --green3: rgb(87, 166, 120);
    --green4: rgb(54, 140, 118);
    --green5: rgb(36, 84, 89);
}

.ll-main-content {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-areas: 
        "sidebar header space"
        "sidebar tool   image"
        "sidebar tool   language"
        "sidebar tool   info"
        "sidebar disclaimer moreSpace";

    grid-template-columns: auto 7.5fr 2.5fr;
    /* grid-template-rows: 2fr 4fr 3fr 1fr; */
    grid-template-rows: min-content min-content min-content 1fr min-content;
    font-family: 'Raleway', sans-serif;
}

.wait-cursor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: wait;
}

.lingua-link-sidebar {
    grid-area: sidebar;
}

.description-header-container {
    /* background-color: red; */
    grid-area: header;
}

.main-tool-container {
    /* background-color: yellow; */
    grid-area: tool;
}

.white-space-container {
    /* background-color: white; */
    grid-area: space;
}

.ll-disclaimer-container {
    grid-area: disclaimer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.ll-disclaimer-msg {
    width: 80%;
}

.ll-disclaimer-msg p {
    font-size: 0.75rem;
    /* font-style: italic; */
    text-align: center;
}

.image-generation-container {
    /* background-color: orange; */
    grid-area: image;
    margin-bottom: 2rem;
    /* margin-top: 2.5rem; */
}

.ll-generate-random-container {
    grid-area: generateRandom;
    /* margin-bottom: 1rem; */
    /* background-color: red; */
}

.language-container {
    /* background-color: pink; */
    grid-area: language;
}

.info-container {
    /* background-color: blueviolet; */
    grid-area: info;
}

.ll-title {
    color: var(--green4);
}

.ll-btn {
    background-color: var(--green4);
}

.lingua-link-columns {
    display: flex;
}

.lingua-link-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ll-separation-horizontal-line-container {
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ll-separation-horizontal-line {
    height: 1px;
    background-color: var(--green5);
    width: 75%;
    border-radius: 3rem;
}

@media (max-width: 950px) {
    .ll-main-content {
        grid-template-areas: 
        "header space"
        "tool   image"
        "tool   language"
        "tool   info"
        "disclaimer moreSpace";
    }

    .lingua-link-sidebar {
        display: none;
    }

    .main-tool-container {
        font-size: 0.9rem;
    }
}

@media (max-width: 775px) {
    .ll-main-content {
        grid-template-areas: 
        "header"
        "tool"
        "image"
        "language"
        "info"
        "disclaimer";
    }

    .image-generation-container {
        margin-top: 0;
    }

    .lingua-link-sidebar {
        display: none;
    }

    .main-tool-container {
        font-size: 0.9rem;
    }
}