
* {
    --green1: rgb(169, 217, 131);
    --green2: rgb(113, 191, 127);
    --green3: rgb(87, 166, 120);
    --green4: rgb(54, 140, 118);
    --green5: rgb(36, 84, 89);
}

.ll-main-content {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-areas: 
        "sidebar header space"
        "sidebar tool   image"
        "sidebar tool   language"
        "sidebar tool   info";

    grid-template-columns: auto 7.5fr 2.5fr;
    /* grid-template-rows: 2fr 4fr 3fr 1fr; */
    grid-template-rows: min-content min-content min-content 1fr;
}

.lingua-link-sidebar {
    grid-area: sidebar;
}

.description-header-container {
    /* background-color: red; */
    grid-area: header;
}

.main-tool-container {
    /* background-color: yellow; */
    grid-area: tool;
}

.white-space-container {
    /* background-color: white; */
    grid-area: space;
}

.image-generation-container {
    /* background-color: orange; */
    grid-area: image;
}

.language-container {
    /* background-color: green; */
    grid-area: language;
}

.info-container {
    /* background-color: blueviolet; */
    grid-area: info;
}

.ll-title {
    color: var(--green4);
}

.ll-btn {
    background-color: var(--green4);
}

/* .non-sidebar {
    width: 100%;
    display: flex;
} */

.lingua-link-columns {
    display: flex;
}

.lingua-link-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ll-right-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}