

* {
    --green1: rgb(169, 217, 131);
    --green2: rgb(113, 191, 127);
    --green3: rgb(87, 166, 120);
    --green4: rgb(54, 140, 118);
    --green5: rgb(36, 84, 89);
}

.ll-sidebar {
    height: 100%;
}

.icon-suffix {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--green5);
}

.head-text {
    position: absolute;
    left: 40px;
    bottom: 5px;
    color: var(--green5);
    font-weight: bold;
    font-size: 1.4rem;
}

.ll-sidebar-header {
    /* border-top: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 9.3rem;
}

/* toggle button */
.ll-sidebar .fa {
    color: white;
    margin: 0.5rem 0.6rem;
}

.pro-sidebar {
    background-color: white!important;
    color: black!important;
    border-right: 1px solid black;
}

.ll-history-sidebar {
    width: 17rem;
    max-height: 100vh;
}

.my-ul {
    list-style-type: None;
}

.ll-sidebar-content {
    /* margin-top: 1.5rem; */
    margin-bottom: 3rem;
    overflow-y: scroll!important;
}

.item-content {
    color: black;
}
