
.main-tool {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vocab-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 18rem; */
    width: 18rem;
}

.vocab-word-input {
    margin-bottom: 0.75rem;
}

.ll-output-box-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3rem;
    /* margin-left: 1rem; */
}

.ll-output-box-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 100px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.wrapper-test {
    height: 100%;
}

.ll-item-title-with-audio-container {
    display: flex;
    /* align-items: center; */
    gap: 14px;
    /* justify-content: space-between; */
}

/* .wrapper-test > * {
    height: 110%;
} */

/* .even-output-item {
    margin-left: 2.5rem;
}

.odd-output-item {
    margin-left: -2.5rem;
} */
.ll-num-1 {
    background-color: var(--green1);
}
.ll-num-2 {
    background-color: var(--green2);
}
.ll-num-3 {
    background-color: var(--green3);
}
.ll-num-4 {
    background-color: var(--green4);
}
.ll-num-5 {
    background-color: var(--green5);
}

.ll-output-box-logo {
    position: absolute;
    width: 9rem;
    z-index: 3;
}

.ll-output-box-item {
    background-color: white;
    min-height: 6rem;
    /* height: 90%!important; */
    width: 100%;
    z-index: 1;
    margin-left: 4.5rem;
}

.ll-item-text {
    margin-left: 5rem;
    padding: 1rem 0;
    margin-right: 1rem;
}

.ll-item-title {
    font-weight: bold;
}

.ll-title-1 {
    color: var(--green1);
}
.ll-title-2 {
    color: var(--green2);
}
.ll-title-3 {
    color: var(--green3);
}
.ll-title-4 {
    color: var(--green4);
}
.ll-title-5 {
    color: var(--green5);
}