
.main-tool {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vocab-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 18rem; */
    width: 18rem;
}

.vocab-word-input {
    margin-bottom: 0.75rem;
}

@media (max-width: 775px) {
    .vocab-word-input {
        font-size: 1rem;
        width: 70%;
    }
}