
.ll-phone-history-modal-body {
    max-height: 63vh;
    overflow-y: scroll;
}

.ll-book-icon {
    display: none;
}

.ll-phone-history-title {
    color: var(--green5)!important;
    font-weight: bold!important;
}

.ll-phone-history-close-btn {
    background-color: var(--green5)!important;
}

@media (max-width: 775px) {
    .ll-book-icon {
        position: fixed;
        display: block;
        width: 2.1rem;
        height: 2.1rem;
        right: 12px;
        top: 10px;
        z-index: 100;
        cursor: pointer;
    }
}